body {
  background-color: purple;
  color: white;
}


.mainGrid {
  float: left;
  list-style: none;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.Article img {
  width: 350px;
  border-radius: 3px;
}

p {
  width: 402.4px;
  height: 111px;
}

.author {
  margin: 20px 0px 15px;
  font-size: 50px;
  height: 55px;
}

.title h1 {
  color: black;
  width: 320px;
}

.Article {
  border: 2px solid black;
  margin: 20px 50px 30px 20px;
  ;
}